body {
    margin: 0;
    /* background-color: #F7F9F9; */
    background-color: #cfdef3;
    /*height: 98vh;*/
    /*max-height: 100vh;*/
}

.logo {
    margin-left: 5%;
}

.logo img {
    width: 70px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    /*margin-left: 10px;*/
    /*margin-bottom: 5px;*/
    text-decoration: none !important;
}

.box select {
    background-color: #ffa69e;
    background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
    padding: 10px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    -webkit-appearance: button;
    outline: none;
}

.box:before {
    /* position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: #DC776B; */

}

.box::hover:before {

}

.logo:hover {
    background-color: #FFE633;
    /* barbel colors: green #9CC055,blue #399CE9; yellow; #FFE633; */
}

.pin {
    width: 30px;
    height: 30px;
}


#full-page-content {
    width: 100vw;
    height: 100vh;
    /* max-height: 100vh; */
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
}

.header {
    background-color: #59C39F;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    top: 0;
}

h1 {
    font-family: 'Patrick Hand', cursive;
    /* color: #545351; */
    color: rgb(65, 62, 62);
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.quotes {
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    color: rgb(65, 62, 62);
}


#main-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:  #cfdef3; */
}

.footer {
    width: 100vw;
    background-color: #59C39F;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-around;
    color: #F7F9F9;
    /* align-self: flex-end; */
    align-items: center;
    /* padding-top: 20px; */
}

.hidden {
    display: none !important;
}

.box {
    padding-top: 10px;
    width: 60vw;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;

    /* background-color:#FFE633;  */
}

#workoutSelector {
    /* // the red color : #D7423F; */
    border: 2px solid #314749;
    font-size: 1.2em;
    flex-grow: 1;
    padding-bottom: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    /* background: #FFE633;
    background-image: none; */
}

#go-btn {
    -webkit-appearance: none;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 5px 0 0 5px;
    border: 4px solid black;
    border-radius: 50%;
    font-size: 3.5em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #59C39F;
    color: #F7F9F9;
    align-self: center;
}

/* Similar animation seen at https://css-tricks.com/almanac/properties/t/transform/ */
#go-btn:hover {
    animation: roll 0.6s;
    transform: rotate(0deg);
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


.description {
    box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.5);
    padding: 0 10px 0 10px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-family: Arial;
}


.timerBtnContainer {
    display: flex;
    flex-direction: row;
}

.timerBtnContainer button {
    flex-grow: 1;
}

#timerValues {
    font-size: 2em;
}




/* #399CE9; yellow; #FFE633;
} */


.timer-btns {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2px;
    color: #F7F9F9;
}

.timer-btns:hover {
    color: black;
    cursor: pointer;
}

#start {
    background-color: #59C39F;
}

/* #pause {
    background-color: #399CE9;
} */

#stop {
    background-color: #D7423F;
}

/* #reset {
    color: black !important;
    background-color: #FFE633;
} */


.greenButton {
    width: 300px;
    height: 300px;

}


.hearts {
    color: rgb(236, 71, 71);
    /* font-size: 30px; */
}

.name {

    font-size: 16px;
    letter-spacing: .08em;
    font-weight: 500;
    padding-right: 10px;
}

.link-icons {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    /* border-radius: 100%; */
    /* width : 60px;
    height : 60px; */
    object-fit: cover;
}

.linkContainer {
    margin: 10px;
}

p {
    margin-block-end: .5em;
    margin-block-start: 0em;
}

a {
    text-decoration: none;
}

#copyright {

    font-size: 16px;
    letter-spacing: .08em;
    font-weight: 500;
    padding-left: 5px;
}

/* cool red - #BA5350 */


@media only screen
and (max-width: 600px) {
    .footer {
        display: block;
        text-align: center;
        height: 100%;
        margin-top: 40px;
        padding-bottom: 20px;
    }

}
