body {
    margin: 0;
    /* font-family: 'Lora', serif; */
    background-color: #F7F9F9;
    /*height: 98vh;*/
    /*max-height: 100vh;*/

}

.logo img {
    width: 70px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    /*margin-left: 10px;*/
    /*margin-bottom: 5px;*/
    text-decoration: none !important;
}

.logo:hover {
    background-color: #FFE633;
    /* barbel colors: green #9CC055,blue #399CE9; yellow; #FFE633; */
}

.pin {
    width: 30px;
    height: 30px;

}


#full-page-content {
    width: 100vw;
    height: 98vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
}

.header {
    background-color: #59C39F;
    height: 70px;
    width: 100vw;
    display: flex;
    top: 0;
}

#main-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {

    width: 100vw;
    background-color: #59C39F;
    display: flex;
    height: 70px;
    justify-content: space-between;
    color: #F7F9F9;
    align-self: flex-end;
    align-items: center;
    /* padding-top: 20px; */
}

.hidden {
    display: none !important;
}

.box {
    padding-top: 10px;
    width: 60vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    /* background-color:#FFE633;  */
}

#workoutSelector {
    /* // the red color : #D7423F; */
    border: 2px solid #314749;
    font-size: 1.2em;
    flex-grow: 1;
    padding-bottom: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

#go-btn {
    -webkit-appearance: none;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 5px 0 0 5px;
    border: 4px solid black;
    border-radius: 50%;
    font-size: 3.5em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #59C39F;
    color: #F7F9F9;
    align-self: center;
}

.timer {
    display: flex;
    flex-direction: row;
}

.timer button {
    flex-grow: 1;
}

.description {
    box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.5);
    padding: 0 10px 0 10px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-family: Arial;
}


/* #399CE9; yellow; #FFE633;
} */


.timer-btns {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2px;
    color: #F7F9F9;
}

#start {
    background-color: #59C39F;
}

#pause {
    background-color: #399CE9;
}

#stop {
    background-color: #D7423F;
}

#reset {
    color: black !important;
    background-color: #FFE633;
}


.greenButton {
    width: 300px;
    height: 300px;

}


.hearts {
    color: rgb(236, 71, 71);
    /* font-size: 30px; */
}

.name {
    font-size: 16px;
    letter-spacing: .08em;
    font-weight: 500;
    padding-right: 10px;
}

#copyright {
    font-size: 16px;
    letter-spacing: .08em;
    font-weight: 500;
    padding-left: 5px;
}





